In [2]:
1+1

2

In [4]:
2**4

16

In [5]:
4%2

0

In [6]:
x=4
y=7

In [7]:
x+y

11

In [8]:
'this is a string'

'this is a string'

In [9]:
"this is a string"

'this is a string'

In [10]:
x='hello'

In [11]:
print(x)

hello

In [12]:
num=12
name='anmol'

In [18]:
print('My number is {} and my name is {}'.format(num,name))

My number is 12 and my name is anmol

In [19]:
print('My number is {one} and my name is {two}'.format(one=num,two=name))

My number is 12 and my name is anmol

In [20]:
s='hello'

In [21]:
s[4]

'o'

In [22]:
s[0:2]

'he'

In [23]:
s[0:]

'hello'

In [24]:
s[2:4]

'll'

In [27]:
myList = ['a', 'b', 'c', 'd']

In [28]:
myList.append('e')

In [29]:
print(myList)

['a', 'b', 'c', 'd', 'e']

In [30]:
myList[0:2]

['a', 'b']

In [31]:
myList[0] = 'New'

In [32]:
print(myList)

['New', 'b', 'c', 'd', 'e']

In [34]:
d = {'key1' : 'value',
    'key2': 123,
    'key3': 'anmol',
    'key4': [1,2,3]}

In [35]:
d['key1']

'value'

In [36]:
print(d['key2'])

123

In [39]:
print(d['key3'])

anmol

In [2]:
#tuple elements are immutable. t = (1,2,3)

In [3]:
#set is a collection of unique elemnts
set = {1,2,2,3,3,4,4}

In [4]:
print(set)

{1, 2, 3, 4}

In [5]:
set.add(5)

In [6]:
print(set)

{1, 2, 3, 4, 5}

In [7]:
1>2

False

In [8]:
1==1

True

In [9]:
1==2

False

In [10]:
if 1<2:
    print('Yep')

Yep

In [2]:
if 1>2:
    print('Yep')
else:
    print('No')

No

In [3]:
seq = [1,2,3,4,5]

In [5]:
for i in seq:
    print(i)

1
2
3
4
5

In [7]:
for i in seq:
    print('hello')

hello
hello
hello
hello
hello

In [11]:
i = 1
while i<5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

In [12]:
for i in range(0,4):
    print(i)

0
1
2
3

In [13]:
x = [1,2,3,4]

In [15]:
out = []
for num in x:
    out.append(num**2)

In [16]:
print(out)

[1, 4, 9, 16]

In [17]:
#list comprehension
out = [num**2 for num in x]

[1, 4, 9, 16]

In [18]:
print(out)

[1, 4, 9, 16]

In [24]:
def newfun(name):
    print('Param ' +name)

In [26]:
newfun('Sumal')

Param Sumal

In [27]:
#map
sq = [1,2,3,4]

In [31]:
def times(var):
    return var**3

In [33]:
list(map(times,sq))

[1, 8, 27, 64]

In [34]:
l = lambda var: var**3

In [36]:
list(map(l,sq))

[1, 8, 27, 64]

In [37]:
list(map(lambda var: var**3, sq))

[1, 8, 27, 64]

In [38]:
list(filter(lambda var: var%2 == 0, seq))

[2, 4]

In [45]:
str = 'Hello, my name is Anmol'

In [46]:
str.upper()

'HELLO, MY NAME IS ANMOL'

In [47]:
str.split()

['Hello,', 'my', 'name', 'is', 'Anmol']

In [48]:
str.split(',')

['Hello', ' my name is Anmol']

In [51]:
str.format()

'Hello, my name is Anmol'